{% if collection.metafields.custom.faq.value %}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="collapsible-content collapsible-{{ section.settings.layout }}-layout isolate{% if section.settings.layout == 'section' %} page-width{% elsif section.settings.layout == 'none' %} content-container content-container--full-width{% endif %}">
    <div class="collapsible-content__wrapper section-{{ section.id }}-padding{% if section.settings.layout == 'section' %} content-container color-{{ section.settings.container_color_scheme }} gradient{% endif %}">
      <div class="page-width">
        <div
          class="collapsible-content__header"
          style="text-align: {{ section.settings.heading_alignment }};"
        >
          {%- if section.settings.heading != blank -%}
            <h2 class="collapsible-content__heading inline-richtext {{ section.settings.heading_size }}">
              {{ section.settings.heading }}
            </h2>
          {%- else -%}
            <h2 class="visually-hidden">{{ 'accessibility.collapsible_content_title' | t }}</h2>
          {% endif %}
        </div>

  <div class="accordion">
    {% for faq in collection.metafields.custom.faq.value %}
      {% assign question_split = faq.question | split: '"value":"' %}
      {% assign answer_split = faq.answer | split: '"value":"' %}

      {% if question_split.size > 1 and answer_split.size > 1 %}
        {% assign question_text = question_split[1] | split: '"}' %}
        {% assign answer_text = answer_split[1] | split: '"}' %}

        <details class="accordion__item">
          <summary class="accordion__summary">
            {% render 'icon-accordion', icon: section.settings.default_icon %}
            <h3 class="accordion__title inline-richtext h4">
              {{ question_text[0] }}
            </h3>
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </summary>
          <div class="accordion__content rte">
            {{ answer_text[0] }}
          </div>
        </details>
      {% endif %}
    {% endfor %}
  </div>
      </div>
    </div>
  </div>
</div>
 {% endif %}
{% schema %}
{
  "name": "Collection FAQ",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Section heading",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        { "value": "h2", "label": "H2" },
        { "value": "h1", "label": "H1" },
        { "value": "h0", "label": "H0" }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "row", "label": "Row" },
        { "value": "section", "label": "Section" }
      ],
      "default": "none"
    },
    {
      "type": "color_scheme",
      "id": "container_color_scheme",
      "label": "Container color scheme",
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "default_icon",
      "label": "Default icon",
      "options": [
        { "value": "question_mark", "label": "Question Mark" },
        { "value": "chat_bubble", "label": "Chat Bubble" },
        { "value": "none", "label": "None" }
      ],
      "default": "question_mark"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0, "max": 100, "step": 4, "unit": "px",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0, "max": 100, "step": 4, "unit": "px",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Collection FAQ"
    }
  ]
}
{% endschema %}